#!/bin/sh
set -e

# summary of how this script can be called:
#    * <new-preinst> `install'
#    * <new-preinst> `install' <old-version>
#    * <new-preinst> `upgrade' <old-version>
#    * <old-preinst> `abort-upgrade' <new-version>
# for details, see http://www.debian.org/doc/debian-policy/ or
# the debian-policy package

# Will be replaced by the binary package flavour in debian/rules
flavour="=FLAVOUR="

config_name=config
if [ "${flavour}" = "usec" ];then
    config_name=usecconfig
    if [ ! -f /etc/selinux/$config_name ]; then
        echo '# This file controls the state of USEC on the system.' >> /etc/selinux/$config_name
        echo '# USECLINUX= can take one of these three values:' >> /etc/selinux/$config_name
        echo '# enforcing - USEC security policy is enforced.' >> /etc/selinux/$config_name
        echo '# permissive - USEC prints warnings instead of enforcing.' >> /etc/selinux/$config_name
        echo '# disabled - No USEC policy is loaded.' >> /etc/selinux/$config_name
        echo 'USECLINUX=enforcing' >> /etc/selinux/$config_name
        echo '# USECLINUXTYPE= can take one of these two values:' >> /etc/selinux/$config_name
        echo '# usec - uos basic access control policy' >> /etc/selinux/$config_name
        echo '# default - equivalent to the old strict and targeted policies' >> /etc/selinux/$config_name
        echo '# mls     - Multi-Level Security (for military and educational use)' >> /etc/selinux/$config_name
        echo '# src     - Custom policy built from source' >> /etc/selinux/$config_name
        echo 'USECLINUXTYPE=usec' >> /etc/selinux/$config_name
        echo '' >> /etc/selinux/$config_name
    fi
fi

case "$1" in
  install|upgrade)
    if [ -f /etc/selinux/$config_name ]; then
      . /etc/selinux/$config_name
      if [ "$flavour" = "$SELINUXTYPE" ]; then
        FC=/etc/selinux/$flavour/contexts/files/file_contexts
        OLDFC=$FC.old
        if [ ! -f $OLDFC ] && [ -f $FC ]; then
          cp $FC $OLDFC
        fi
      fi
    fi
  ;;

  abort-upgrade)
  ;;

  *)
    echo "preinst called with unknown argument \`$1'" >&2
    exit 1
  ;;
esac

# dh_installdeb will replace this with shell code automatically
# generated by other debhelper scripts.

#DEBHELPER#

exit 0
